microservice-chart: &microservice-chart
  namespace: 'receipts'
  nameOverride: ''
  fullnameOverride: 'pagopa-receipt-pdf-service'
  image:
    repository: ghcr.io/pagopa/pagopa-receipt-pdf-service
    tag: '0.14.7-3-PIDM-1421-api-getreceiptpdf'
    pullPolicy: Always
  livenessProbe:
    httpGet:
      path: /q/health/live
      port: 8080
    initialDelaySeconds: 30
    failureThreshold: 10
    periodSeconds: 20
  readinessProbe:
    httpGet:
      path: /q/health/ready
      port: 8080
    initialDelaySeconds: 30
    failureThreshold: 6
    periodSeconds: 10
  deployment: &deployment
    create: true
    replicas: 3 # equals to HPA min
    strategy:
      type: RollingUpdate
      rollingUpdate:
        maxUnavailable: 0
        maxSurge: 1
  serviceMonitor:
    create: true
    endpoints:
      - interval: 10s #jmx-exporter
        targetPort: 12345
        path: /metrics
  ports:
    - 8080 #http
    - 12345 #jmx-exporter
  service:
    type: ClusterIP
    ports:
      - 8080 #http
      - 12345 #jmx-exporter
  ingress: &ingress
    create: true
    host: 'weuprod.receipts.internal.platform.pagopa.it'
    path: /pagopa-receipt-pdf-service/(.*)
    servicePort: 8080
  serviceAccount:
    name: 'receipts-workload-identity'
  azure:
    workloadIdentityClientId: <workload-identity-client-id-set-automatically-by-gha>
  podAnnotations: {}
  podSecurityContext:
    seccompProfile:
      type: RuntimeDefault
  securityContext:
    allowPrivilegeEscalation: false
    readOnlyRootFilesystem: false
    capabilities:
      drop:
        - all
  resources: &resources
    requests:
      memory: '512Mi'
      cpu: '300m'
    limits:
      memory: '1512Mi'
      cpu: '900m'
  autoscaling: &autoscaling
    enable: true
    minReplica: 3
    maxReplica: 10
    pollingInterval: 10 # seconds
    cooldownPeriod: 50 # seconds
    triggers:
      - type: cpu
        metadata:
          # Required
          type: Utilization # Allowed types are 'Utilization' or 'AverageValue'
          value: '75'
      - type: memory
        metadata:
          # Required
          type: Utilization # Allowed types are 'Utilization' or 'AverageValue'
          value: '70'
  fileConfig: {}
  envConfig: &envConfig
    APP_NAME: 'pdf-receipt-service'
    APP_ENVIRONMENT: 'prod'
    WEBSITE_SITE_NAME: 'pagopareceiptpdfservice' # required to show cloud role name in application insights
    APP_LOGGING_LEVEL: 'INFO'
    DEFAULT_LOGGING_LEVEL: 'INFO'
    COSMOS_RECEIPT_ENDPOINT: 'https://pagopa-p-weu-receipts-ds-cosmos-account.documents.azure.com:443/'
    COSMOS_RECEIPT_DB_NAME: 'db'
    COSMOS_RECEIPT_CONTAINER_RECEIPTS_NAME: 'receipts'
    COSMOS_RECEIPT_CONTAINER_RECEIPTS_ERROR_NAME: 'receipts-message-errors'
    COSMOS_RECEIPT_CONTAINER_RECEIPTS_IO_MESSAGES_EVENT_NAME: 'receipts-io-messages-evt'
    COSMOS_RECEIPT_CONTAINER_CART_NAME: 'cart-for-receipts'
    COSMOS_RECEIPT_CONTAINER_CART_RECEIPTS_ERROR_NAME: 'cart-receipts-message-errors'
    COSMOS_RECEIPT_CONTAINER_CART_RECEIPTS_IO_MESSAGES_NAME: 'cart-receipts-io-messages'
    COSMOS_BIZEVENT_ENDPOINT: 'https://pagopa-p-weu-bizevents-ds-cosmos-account.documents.azure.com:443/'
    COSMOS_BIZEVENT_DB_NAME: 'db'
    COSMOS_BIZEVENT_CONTAINER_BIZEVENTS_NAME: 'biz-events'
    BLOB_STORAGE_ACCOUNT_ENDPOINT: 'https://pagopapweureceiptsfnsa.blob.core.windows.net'
    BLOB_STORAGE_CONTAINER_NAME: 'pagopa-p-weu-receipts-azure-blob-receipt-st-attach'
    ENABLE_ECS_CONSOLE: 'true'
    QUARKUS_OTEL_EXPORTER_OTLP_ENDPOINT: 'http://otel-collector.elastic-system.svc:4317'
    QUARKUS_OTEL_TRACES_SAMPLER: 'traceidratio'
    QUARKUS_OTEL_TRACES_SAMPLER_ARG: '1.0'
    QUARKUS_OTEL_RESOURCE_ATTRIBUTES: 'deployment.environment=prod'
    TOKENIZER_URL: 'https://api.tokenizer.pdv.pagopa.it'
    JAVA_TOOL_OPTIONS: '-javaagent:/deployments/jmx_prometheus_javaagent-0.19.0.jar=12345:/deployments/config.yaml -Xmx1024m'
    TOKENIZER_MAX_RETRY: '3'
    TOKENIZER_DELAY: '200'
    TOKENIZER_EXPB_MAX_DELAY: '6000'
    TOKENIZER_EXPB_FACTOR: '2'
    QUARKUS_CACHE_ENABLED: 'true'
    CACHE_ATTACHMENT_DETAILS_INITIAL_CAPACITY: '10000'
    CACHE_ATTACHMENT_DETAILS_MAX_SIZE: '50000'
    CACHE_ATTACHMENT_DETAILS_EXPIRE_AFTER_WRITE: '1h'
  envSecret: &envSecret
    # required
    APPLICATIONINSIGHTS_CONNECTION_STRING: 'ai-p-connection-string'
    COSMOS_RECEIPT_KEY: 'cosmos-receipt-pkey'
    COSMOS_BIZEVENT_KEY: 'cosmos-bizevent-pkey'
    TOKENIZER_API_KEY: 'tokenizer-api-key'
    BLOB_STORAGE_CONN_STRING: 'receipts-storage-account-connection-string'
    COSMOS_RECEIPTS_CONN_STRING: 'cosmos-receipt-connection-string'
    QUARKUS_OTEL_EXPORTER_OTLP_HEADERS: 'elastic-otl-secret-token'
    AES_SECRET_KEY: 'aes-secret-key'
    AES_SALT: 'aes-salt'
  keyvault:
    name: 'pagopa-p-receipts-kv'
    tenantId: '7788edaf-0346-4068-9d79-c868aed15b3d'
  nodeSelector: {}
  tolerations: []
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchExpressions:
              - key: node_type
                operator: In
                values:
                  - user
    podAntiAffinity:
      preferredDuringSchedulingIgnoredDuringExecution:
        - weight: 100
          podAffinityTerm:
            labelSelector:
              matchLabels:
                app.kubernetes.io/instance: pagopareceiptpdfservice
            namespaces: ['receipts']
            topologyKey: topology.kubernetes.io/zone
  canaryDelivery:
    create: false
    ingress:
      create: true
      canary:
        type: header
        headerName: X-Canary
        headerValue: canary
        weightPercent: 0
    service:
      create: true
    deployment:
      create: true
      image:
        repository: ghcr.io/pagopa/pagopa-receipt-pdf-service
        tag: '0.7.0'
        pullPolicy: Always
      envConfig: {}
      envSecret: {}
pagopa-receipt-pdf-service-helpdesk:
  !!merge <<: *microservice-chart
  fullnameOverride: 'pagopa-receipt-pdf-service-helpdesk'
  deployment:
    !!merge <<: *deployment
    replicas: 1 # equals to HPA min
  ingress:
    !!merge <<: *ingress
    path: /pagopa-receipt-pdf-service-helpdesk/(.*)
  resources:
    !!merge <<: *resources
  autoscaling:
    !!merge <<: *autoscaling
    minReplica: 1
    maxReplica: 3
  envConfig:
    !!merge <<: *envConfig
    APP_NAME: 'pdf-receipt-service-helpdesk'
    WEBSITE_SITE_NAME: 'pagopareceiptpdfservicehelpdesk'
    COSMOS_PREFERRED_REGION: 'North Europe'
  envSecret:
    !!merge <<: *envSecret
